[*.{cs,vb}]

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = true

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = warning

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning
